<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <title></title>
</head>
<body>
    <div class="head">
        <div class="logo">
            <img src="images/blogger.png">
        </div>
        <div class="options">
            <div class="home" onclick="window.location.href = '/home'">
                <img src="images/home.png">
                <p>home</p>
            </div>
            <div class="about">
                <img src="images/about.png">
                <p>about</p>
            </div>
            <div class="profile">
                <img src="<%= image %>">
                <p><%= name %></p>
            </div>
        </div>
    </div>
</body>
</html>